/* anulando toda formatação vinda do navegador */
* {
    margin: 0;
    padding: 0;
    /* mandando as confugurações respeirarem o tamanho do conteiner */
    box-sizing: border-box;
}

 /* elemento universal usa asterisco */
body * {
    font-family: 'Andika', sans-serif;
    color: white;
    /* color: black; */
}

body{
   background: gray;
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat; /*não repete a imagem*/
    background-position: top center; /*alinha pelo centro e pela cabeça */
    background-size: cover; /*preenche todo espaço visivel*/}

#conteiner{
    /* border: 3px solid rgb(238, 5, 5); */
    height: 712px;
    width : 360px;
    /*essa magin auto deixa o elemento com a mesma
    distancia da esquerda e da direita*/
    margin: auto;
    /* adicionando 56px de margem do conteirer principal para cima; */
    margin-top: 56px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
}

#profile{
    /* border: 3px solid rgb(213, 255, 2); */
    /*a utilização de alinhamento no elemento pai
     centraliza a imagem abaixo*/
    text-align: center;
    /* adicionando preencimento de 24px */
    padding: 24px;
}

#profile img{
    /* border: 3px solid rgb(4, 121, 0); */
    width: 112px; /*há necessidade de definir só altura ou solargura*/
    /* deixando a imagem quadrada redonda */
    border-radius: 50%; }
    
    #profile p{
    /* border: 3px solid tomato; */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* adicionando 8px de distancia entre o @ e a foto */
    margin-top: 8px;
}

ul{
    /* border: 3px solid green; */
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul li{
    text-align: center;
    align-items: center;
    background:rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 7%;
    padding: 16px 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    
}

ul li a{   
    text-decoration: none;
    font-weight:  500;
}
